1번 </br>
A. O</br>
B. O</br>

2번</br>
A. filter()</br>
B. select()</br>
C. arange()</br>
D. mutate()</br>
E. left_join()</br>
F. bind_rows()</br>
G. glimpse()</br>
H. group_by()</br>
I. sample_n(), sample_frac(), stdiff()</br>
J. </br>
K. substr()</br>
L. nchar()</br>
M. (아직 안했으니 제외)</br>
N. merge()

3번 .

In [1]:
install.packages("tidyverse")
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:

install.packages("data.table")
library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

4번.

In [3]:
#https://drive.google.com/file/d/1R60U16aLcmYfVTdBy6pc7SRC31gOYftV/view?usp=drive_link
system("gdown --id 1R60U16aLcmYfVTdBy6pc7SRC31gOYftV")
system("ls", TRUE)

[1] "Pre_Season_Batter_utf.csv" "sample_data"

In [4]:
DF <- fread("/content/Pre_Season_Batter_utf.csv", header = T, encoding = "UTF-8") %>% as_tibble()

5번.  dplyr패키지를 이용하여 DF에서 batter_name(타자 이름)과 team(소속팀)만 출력하세요.

In [5]:
DF %>% select(batter_name, team) %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [6]:
DF %>% select(.,batter_name, team) %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [7]:
select(DF, batter_name, team) %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

6번.  DF에서 batter_name(타자 이름)과 team(소속팀)만 DF1에 저장한 후 DF1과 DF을 출력하여 비교하세요.

In [8]:
DF1 <- DF %>% select(batter_name, team)

In [9]:
DF1 %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [10]:
DF %>% show()

# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

7번.  dplyr패키지를 이용하여 DF에서 batter_name(타자 이름)과 team(소속팀)만 제외하고 출력하
세요

In [11]:
DF %>% select(-c(batter_name, team)) %>% show()

# A tibble: 1,393 × 27
   batter_id  year   avg     G    AB     R     H  `2B`  `3B`    HR    TB   RBI
       <int> <int> <dbl> <int> <int> <int> <int> <int> <int> <int> <int> <int>
 1         0  2018 0.35      7    20     1     7     1     0     1    11     5
 2         1  2011 0         4     2     2     0     0     0     0     0     1
 3         1  2014 0         4     0     2     0     0     0     0     0     0
 4         1  2015 0.13     10    23     3     3     0     0     0     3     1
 5         1  2016 0.188    14    32     4     6     1     1     0     9     2
 6         1  2017 0.222    11    36    10     8     0     0     2    14     4
 7         2  2013 0         3     4     0     0     0     0     0     0     0
 8         2  2016 0         3     1     0     0     0     0     0     0     0
 9         2  2017 1         2     1     0     1     0     0     0     1     0
10        69  2006 0.2      10    15     0     3     0     0     0     3     3
# ℹ 1,383 more rows
# ℹ 15 more variables: SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>,
#   GDP <int>, SLG <dbl>, OBP <dbl>, E <int>, `height/weight` <chr>,
#   year_born <chr>, position <chr>, career <chr>, starting_salary <chr>,
#   OPS <dbl>

8번. dplyr패키지를 이용하여 DF에서 batter_name은 ‘이름’으로, team은 ‘팀’으로 열의 헤더를 변경하여 batter_name(타자 이름)과 team(소속팀)만 출력하세요.

In [12]:
#DF <- DF %>% rename(이름 = batter_name, 팀 = team)
#DF %>% select(c(이름, 팀)) %>% show()
DF %>% select(dlfma = batter_name, 팀 = team) %>% show()

# A tibble: 1,393 × 2
   dlfma    팀
   <chr>    <chr>
 1 가르시아 LG
 2 강경학   한화
 3 강경학   한화
 4 강경학   한화
 5 강경학   한화
 6 강경학   한화
 7 강구성   NC
 8 강구성   NC
 9 강구성   NC
10 김태완   한화
# ℹ 1,383 more rows

In [13]:
DF <- fread("/content/Pre_Season_Batter_utf.csv", header = T, encoding = "UTF-8") %>% as_tibble()

9번. dplyr패키지를 이용하여 DF에서 batter_name을 name1, name2, name3에 저장하여 name1,name2, name3만 출력하세요.

In [14]:
#DF %>% mutate(name1 = batter_name) %>% mutate(name2 = batter_name) %>% mutate(name3 = batter_name) %>% select(c(name1, name2, name3)) %>% show()
DF %>% select(name1 = batter_name, name2 = batter_name, name3 = batter_name) %>% show()

# A tibble: 1,393 × 3
   name1    name2    name3
   <chr>    <chr>    <chr>
 1 가르시아 가르시아 가르시아
 2 강경학   강경학   강경학
 3 강경학   강경학   강경학
 4 강경학   강경학   강경학
 5 강경학   강경학   강경학
 6 강경학   강경학   강경학
 7 강구성   강구성   강구성
 8 강구성   강구성   강구성
 9 강구성   강구성   강구성
10 김태완   김태완   김태완
# ℹ 1,383 more rows

10번. (문제 풀어서 보내기) dplyr패키지를 이용하여 DF에서 team(소속팀)이 ‘한화’인 선수들의 team(소속팀)과
batter_name(타자 이름)만 출력하세요. 단, 중복 값은 제거하고 고유한 값만을 출력하세요. (Hint) unique() 데이터프레임에서 중복 값을 제거하여 고유한 값을 반환

In [15]:
DF %>% filter(team == '한화') %>% select(team, batter_name) %>% unique() %>% show()

#base R
DF[DF$team == "한화", c("team", "batter_name")] %>% unique() %>% show()

# A tibble: 33 × 2
   team  batter_name
   <chr> <chr>
 1 한화  강경학
 2 한화  김태완
 3 한화  강상원
 4 한화  신성현
 5 한화  김민수
 6 한화  김태균
 7 한화  김태연
 8 한화  김회성
 9 한화  백창수
10 한화  송광민
# ℹ 23 more rows
# A tibble: 33 × 2
   team  batter_name
   <chr> <chr>
 1 한화  강경학
 2 한화  김태완
 3 한화  강상원
 4 한화  신성현
 5 한화  김민수
 6 한화  김태균
 7 한화  김태연
 8 한화  김회성
 9 한화  백창수
10 한화  송광민
# ℹ 23 more rows

11번. dplyr패키지를 이용하여 DF에서 team(소속팀)이 ‘한화’이고 G(출전게임수)가 5회 이상, AB
(타수(타석-볼넷-사구-희생번트-희생플라이))가 15회 이상인 선수들의 team, batter_name,
G, AB를 출력하세요. 단, 중복 값은 제거하고 고유한 값만을 출력하세요. (Hint) unique()

In [16]:
DF %>% select(c(team, batter_name, G, AB)) %>% filter(team == '한화', G >= 5, AB >= 15) %>% unique() %>% show()
DF %>% select(c(team, batter_name, G, AB)) %>% filter(team == '한화' & G >= 5 & AB >= 15) %>% unique() %>% show()

# A tibble: 70 × 4
   team  batter_name     G    AB
   <chr> <chr>       <int> <int>
 1 한화  강경학         10    23
 2 한화  강경학         14    32
 3 한화  강경학         11    36
 4 한화  김태완         10    15
 5 한화  김태완          8    22
 6 한화  김태완         10    24
 7 한화  김태완         10    25
 8 한화  김태완          9    28
 9 한화  김태완         10    16
10 한화  신성현         14    35
# ℹ 60 more rows
# A tibble: 70 × 4
   team  batter_name     G    AB
   <chr> <chr>       <int> <int>
 1 한화  강경학         10    23
 2 한화  강경학         14    32
 3 한화  강경학         11    36
 4 한화  김태완         10    15
 5 한화  김태완          8    22
 6 한화  김태완         10    24
 7 한화  김태완         10    25
 8 한화  김태완          9    28
 9 한화  김태완         10    16
10 한화  신성현         14    35
# ℹ 60 more rows

12번. dplyr패키지를 이용하여 DF에서 team(소속팀)을 group으로 묶어 team(소속팀)별 평균 G(출
전게임수), 평균 AB(타수(타석-볼넷-사구-희생번트-희생플라이)), 합계 R(득점)을 출력하세
요

In [17]:
DF %>% group_by(team) %>% summarise(G_AVG = mean(G), AB_AVG = mean(AB), R_SUM = sum(R)) %>% show()

T_G <- DF %>% group_by(team) %>% summarise(G_AVG = mean(G), AB_AVG = mean(AB), R_SUM = sum(R))
T_G

# A tibble: 13 × 4
   team     G_AVG AB_AVG R_SUM
   <chr>    <dbl>  <dbl> <int>
 1 KIA       7.87   16.8   321
 2 KT        7.63   16.3   143
 3 LG        8.74   20.3   500
 4 NC        8.49   17     195
 5 SK        8.37   19.9   426
 6 넥센      9.10   19.0   315
 7 두산     10.7    22.1   601
 8 롯데      8.21   17.7   424
 9 삼성      8.79   20.1   416
10 우리      7.33   17.3    10
11 한화      7.76   18.2   335
12 현대     10.1    25.3    42
13 히어로즈  8.2    15.6     5

   team     G_AVG     AB_AVG   R_SUM
1  KIA       7.871212 16.84091 321
2  KT        7.631579 16.33333 143
3  LG        8.741379 20.32759 500
4  NC        8.488636 17.00000 195
5  SK        8.372781 19.88166 426
6  넥센      9.098214 19.00893 315
7  두산     10.736559 22.09677 601
8  롯데      8.210843 17.74096 424
9  삼성      8.785235 20.06040 416
10 우리      7.333333 17.33333  10
11 한화      7.755725 18.24427 335
12 현대     10.055556 25.33333  42
13 히어로즈  8.200000 15.60000   5

13번. dplyr패키지를 이용하여 DF에서 team(소속팀)과 batter_name(타자 이름)을 group으로 묶어
소속팀의 타자별 평균 G(출전게임수), 평균 AB(타수(타석-볼넷-사구-희생번트-희생플라
이)), 합계 R(득점)을 출력하세요.

In [18]:
DF %>% group_by(team, batter_name) %>% summarise(G_AVG = mean(G), AB_AVG = mean(AB), R_SUM = sum(R), .groups = "drop") %>% show()
#, .groups = "drop"를 안넣으면 정보가 남아있다고 경고가 뜬다.

#더 안정적으로 짜면 이렇게 된다.
DF %>% group_by(team, batter_name) %>%
  summarise(G_AVG = mean(G, na.rm = T), AB_AVG = mean(AB, na.rm = T), R_SUM = sum(R, na.rm = T), .groups = "drop") %>% show()

# A tibble: 336 × 5
   team  batter_name G_AVG AB_AVG R_SUM
   <chr> <chr>       <dbl>  <dbl> <int>
 1 KIA   강한울       7.5    19.5     7
 2 KIA   김민식       7.5    12       3
 3 KIA   김선빈      10      22.3    29
 4 KIA   김주찬       8      19      15
 5 KIA   김주형       7.73   17.5    21
 6 KIA   나지완       9.9    27.7    39
 7 KIA   노수광       2.5     3       0
 8 KIA   박준태      12      18.5     7
 9 KIA   백용환       6.6    11.8     7
10 KIA   버나디나     6.5    17.5     7
# ℹ 326 more rows
# A tibble: 336 × 5
   team  batter_name G_AVG AB_AVG R_SUM
   <chr> <chr>       <dbl>  <dbl> <int>
 1 KIA   강한울       7.5    19.5     7
 2 KIA   김민식       7.5    12       3
 3 KIA   김선빈      10      22.3    29
 4 KIA   김주찬       8      19      15
 5 KIA   김주형       7.73   17.5    21
 6 KIA   나지완       9.9    27.7    39
 7 KIA   노수광       2.5     3       0
 8 KIA   박준태      12      18.5     7
 9 KIA   백용환       6.6    11.8     7
10 KIA   버나디나     6.5    17.5     7
# ℹ 326 more rows

14번. dplyr패키지를 이용하여 DF를 team(소속팀)은 오름차순으로, avg(타율)은 내림차순을 기준
으로 정렬하여 team(소속팀), batter_name(타자 이름), avg(타율)만 출력하세요.

In [19]:
DF %>%
  select(team, batter_name, avg) %>%
  arrange(team, desc(avg)) %>%
    show()

# A tibble: 1,393 × 3
   team  batter_name   avg
   <chr> <chr>       <dbl>
 1 KIA   서동욱      1
 2 KIA   이용규      1
 3 KIA   강한울      0.6
 4 KIA   백용환      0.6
 5 KIA   이호신      0.5
 6 KIA   신종길      0.5
 7 KIA   안치홍      0.5
 8 KIA   이준호      0.5
 9 KIA   최형우      0.5
10 KIA   신범수      0.471
# ℹ 1,383 more rows

15번. dplyr패키지를 이용하여 DF에 존재하는 team(소속팀)을 중복 없이 오름차순으로 정렬하여
출력하세요.

In [20]:
DF %>% select(team) %>% unique() %>% arrange(team) %>% show()

DF %>% distinct(team) %>% arrange(team) %>% show()

# A tibble: 13 × 1
   team
   <chr>
 1 KIA
 2 KT
 3 LG
 4 NC
 5 SK
 6 넥센
 7 두산
 8 롯데
 9 삼성
10 우리
11 한화
12 현대
13 히어로즈
# A tibble: 13 × 1
   team
   <chr>
 1 KIA
 2 KT
 3 LG
 4 NC
 5 SK
 6 넥센
 7 두산
 8 롯데
 9 삼성
10 우리
11 한화
12 현대
13 히어로즈

16번. dplyr패키지를 이용하여 DF에서 team(소속팀)이 ‘히어로즈’인 선수들의 batter_name(타자
이름)과 avg(타율)을 avg(타율)이 높은 순으로 중복 없이 정렬하여 출력하세요.

In [21]:
DF %>% filter(team == '히어로즈') %>%
  select(team, batter_name, avg) %>%
  unique() %>%
  arrange(desc(avg)) %>%
  show()

# A tibble: 5 × 3
  team     batter_name   avg
  <chr>    <chr>       <dbl>
1 히어로즈 이택근      0.333
2 히어로즈 유재신      0.25
3 히어로즈 오재일      0.242
4 히어로즈 황재균      0.194
5 히어로즈 장영석      0

17번. dplyr패키지를 이용하여 DF에서 batter_id(타자의 고유 아이디)는 ‘ID’, batter_name(타자 이
름)은 ‘이름’, year(년도)는 ‘년도’라는 이름으로 변경하여 DF1에 저장한 후 DF1과 DF를 출력
해 비교하세요.

18번. dplyr패키지를 이용하여 DF에서 batter_id(타자의 고유 아이디)를 batter_id(타자의 고유 아
이디)+100으로 변경하여 DF1에 저장한 후 DF1과 DF를 출력하여 비교하세요.

In [23]:
DF1 <- DF %>% mutate(batter_id = batter_id + 100) #이렇게 생성할 경우 기존에 있던 데이터를 덮어쓴다.
DF1 %>% show()
DF %>% show()

# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <dbl> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1       100 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2       101 강경학       2011 한화  0         4     2     2     0     0     0
 3       101 강경학       2014 한화  0         4     0     2     0     0     0
 4       101 강경학       2015 한화  0.13     10    23     3     3     0     0
 5       101 강경학       2016 한화  0.188    14    32     4     6     1     1
 6       101 강경학       2017 한화  0.222    11    36    10     8     0     0
 7       102 강구성       2013 NC    0         3     4     0     0     0     0
 8       102 강구성       2016 NC    0         3     1     0     0     0     0
 9       102 강구성       2017 NC    1         2     1     0     1     0     0
10       169 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>
# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

19번. dplyr패키지를 이용하여 DF에서 batter_id(타자의 고유 아이디)를 ‘batter_id’ + ‘_’ +
‘batter_name’으로 연결하여 변경한 후 batter_name(타자 이름)만 제외하고 출력하세요.

20번. dplyr패키지를 이용하여 DF에 경기 당(G) 득점(R)에 해당하는 G_R 열을 생성한 후
batter_name(타자 이름)과 G(출전게임수), R(득점), G_R(경기당 득점)에 해당하는 열만 출
력하세요.

In [25]:
DF %>% mutate(G_R = R/G) %>% select(batter_name, G, R, G_R) %>% show()

DF %>% mutate(G_R = R/G) %>% select(batter_name, G, R, G_R) %>% arrange(desc(G_R)) %>% show()

DF %>% mutate(G_R = R/G) %>% select(team, batter_name, G, R, G_R) %>% filter(G_R >= 1) %>% arrange(desc(G_R)) %>% show()

# A tibble: 1,393 × 4
   batter_name     G     R   G_R
   <chr>       <int> <int> <dbl>
 1 가르시아        7     1 0.143
 2 강경학          4     2 0.5
 3 강경학          4     2 0.5
 4 강경학         10     3 0.3
 5 강경학         14     4 0.286
 6 강경학         11    10 0.909
 7 강구성          3     0 0
 8 강구성          3     0 0
 9 강구성          2     0 0
10 김태완         10     0 0
# ℹ 1,383 more rows
# A tibble: 1,393 × 4
   batter_name     G     R   G_R
   <chr>       <int> <int> <dbl>
 1 정진기          6     8  1.33
 2 손아섭          5     6  1.2
 3 김인태          7     8  1.14
 4 이대형          7     8  1.14
 5 김태완          2     2  1
 6 김성현          1     1  1
 7 김재환          7     7  1
 8 도태훈          1     1  1
 9 박정권          3     3  1
10 박한이          7     7  1
# ℹ 1,383 more rows
# A tibble: 23 × 5
   team  batter_name     G     R   G_R
   <chr> <chr>       <int> <int> <dbl>
 1 SK    정진기          6     8  1.33
 2 롯데  손아섭          5     6  1.2
 3 두산  김인태          7     8  1.14
 4 KT    이대형          7     8  1.14
 5 한화  김태완          2     2  1
 6 SK    김성현          1     1  1
 7 두산  김재환          7     7  1
 8 NC    도태훈          1     1  1
 9 SK    박정권          3     3  1
10 삼성  박한이          7     7  1
# ℹ 13 more rows

21번 (숙제) dplyr패키지를 이용하여 DF에서 비복원 추출 방식으로 30개의 샘플을 추출해 train_set에 저
장하고 출력하세요. (Hint) sample_n(), replace=F 비복원추출

In [26]:
#sample_n은 사용자가 지정한 수만큼 랜덤하게 데이터를 가져온다
train_set <- DF %>% sample_n(size = 30, replace = F)
train_set %>% show()

# A tibble: 30 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1       151 손주인       2016 LG    0.105     8    19     1     2     0     0
 2       265 정범모       2008 한화  0         1     3     0     0     0     0
 3       107 박광열       2015 NC    0.2      10     5     1     1     1     0
 4       207 이범호       2013 KIA   0.13      8    23     2     3     1     0
 5       193 윤병호       2015 NC    0.2      10     5     1     1     0     0
 6       301 채태인       2017 넥센  0.2       8    20     2     4     0     0
 7       153 송민섭       2018 KT    0         6     3     3     0     0     0
 8       131 박한이       2018 삼성  0.3       5    10     2     3     1     0
 9       115 박석민       2013 삼성  0.286     9    28     3     8     2     0
10       266 정병곤       2017 삼성  0         5     6     1     0     0     0
# ℹ 20 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

22번 (숙제)  dplyr패키지를 이용하여 DF에서 비복원 추출 방식으로 70%의 샘플을 추출해 train_set에 저
장하고 출력하세요. (Hint) sample_frac()

In [27]:
#sample_frac은 사용자가 지정한 비율만큼 랜덤하게 데이터를 가져온다
train_set <- DF %>% sample_frac(size = 0.7, replace = F)
train_set %>% show()

# A tibble: 975 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1       229 이종욱       2010 두산  0.189    12    37     8     7     2     1
 2       190 유재신       2013 넥센  0.4      10     5     2     2     0     0
 3       311 최윤석       2013 SK    0.217    10    23     2     5     0     0
 4       174 양의지       2016 두산  0.289    12    38     5    11     3     0
 5       275 정주현       2018 LG    0         5     1     2     0     0     0
 6       105 박경수       2005 LG    0.209    13    43     5     9     3     0
 7       153 송민섭       2015 KT    0         4     4     2     0     0     0
 8       302 초이스       2018 넥센  0.278     6    18     4     5     1     0
 9       149 손아섭       2009 롯데  0.281    12    32     2     9     2     0
10         4 강민호       2015 롯데  0.158    10    19     1     3     0     0
# ℹ 965 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

23번 (숙제) . dplyr패키지를 이용하여 DF에서 위 문제에서 구한 train_set을 제외한 샘플을 추출하여
test_set에 저장하고 출력하세요. (Hint) setdiff()

In [28]:
#setdiff(DF1, DF2)로 DF2와 곂치지 않는 DF1의 값들을 반환한다.
test_set <- setdiff(DF, train_set)
test_set %>% show()

# A tibble: 418 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 3         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 4         2 강구성       2017 NC    1         2     1     0     1     0     0
 5        69 김태완       2013 한화  0.25      9    28     3     7     0     0
 6        69 김태완       2017 넥센  0.37     12    27     2    10     1     0
 7         3 강민국       2014 NC    0         2     1     0     0     0     0
 8         4 강민호       2005 롯데  0.25     11    20     2     5     4     0
 9         4 강민호       2007 롯데  0.136    10    22     2     3     0     0
10         4 강민호       2012 롯데  0.273     5    11     2     3     0     0
# ℹ 408 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>